<%
    let type = "post";
    if (is_home()) type = "index";
    if (is_post() || is_page()) type = "post";
    if (is_category() || page.type === "categories") type = "categories";
    if (is_tag() || page.type === "tags") type = "tags";
    if (is_archive()) type = "archives";
    let title = page.title + " | " + config.title;
    if (is_home()) title = config.title;
    if (is_post() || is_page()) title = page.title + " | " + config.title;
    if (is_category()) title = "Categories: " + page.category + " | " + config.title;
    if (is_tag()) title = "Tags: " + page.tag + " | " + config.title;
    if (is_archive()) title = "Archives | " + config.title;
%>
<!DOCTYPE html>
<html lang="<%- config.language %>">
<head>
    <meta name="google-site-verification" content="0M_hgOGybpkDieOrvCMoikpQdEQoP3r64VSxWOy_syY" />
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="author" content="<%- config.author %>" />
    <meta name="description" content="<%- config.description %>" />
    <meta name="keywords" content="<%- config.keywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="icon" href="<%- url_for(theme.avatar) %>" />
    <%- partial("import", { type }) %>
</head>
<body>
    <script src="/js/sakura.js"></script>
    <canvas id="fireworks" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; pointer-events: none; z-index: 32767"></canvas>
    <script src="https://cdn.staticfile.org/animejs/3.2.1/anime.min.js"></script>
    <script src="/js/fireworks.js"></script>
    <canvas id="background" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; pointer-events: none; z-index: -1"></canvas>
    <script src="/js/background.min.js"></script>
    <div id="cursor"></div>
    <link rel="stylesheet" href="/css/cursor.min.css">
    <script src="/js/cursor.min.js"></script>
    <div id="layout">
        <transition name="fade">
            <div id="loading" v-show="loading">
                <div id="loading-circle">
                    <h2>LOADING</h2>
                    <p>加载过慢请开启缓存 浏览器默认开启</p>
                    <img src="<%- url_for(theme.loading) %>" />
                </div>
            </div>
        </transition>
        <%- partial("menu") %>
        <div id="main" :class="loading ? 'into-enter-from': 'into-enter-active'">
            <%- partial(type) %>
            <%- partial("footer") %>
        </div>
        <% if (theme.preview.enable) { %>
        <transition name="fade">
            <div id="preview" ref="preview" v-show="previewShow">
                <img id="preview-content" ref="previewContent" />
            </div>
        </transition>
        <% } %>
    </div>
      <!--自定义看板娘-->
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="/live2d-widget/autoload.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>

    <script src="<%- url_for("/js/main.js") %>"></script>
    <% if (type === "post" && page.comments) { %>
    <%- partial("comment") %>
    <% } %>

    <p style="text-align:center" id="saintwei"></p>
<script>
   var saintwei = function (r) {
       function t() {
           return b[Math.floor(Math.random() * b.length)]
       }
       function e() {
           return String.fromCharCode(94 * Math.random() + 33)
       }
       function n(r) {
           for (var n = document.createDocumentFragment(), i = 0; r > i; i++) {
               var l = document.createElement("span");
               l.textContent = e(), l.style.color = t(), n.appendChild(l)
           }
           return n
       }
       function i() {
           var t = o[c.skillI];
           c.step ? c.step-- : (c.step = g, c.prefixP < l.length ? (c.prefixP >= 0 && (c.text += l[c.prefixP]), c.prefixP++) : "forward" === c.direction ? c.skillP < t.length ? (c.text += t[c.skillP], c.skillP++) : c.delay ? c.delay-- : (c.direction = "backward", c.delay = a) : c.skillP > 0 ? (c.text = c.text.slice(0, -1), c.skillP--) : (c.skillI = (c.skillI + 1) % o.length, c.direction = "forward")), r.textContent = c.text, r.appendChild(n(c.prefixP < l.length ? Math.min(s, s + c.prefixP) : Math.min(s, t.length - c.skillP))), setTimeout(i, d)
       }
       var l = " Hi. ",
           o = ["Welcome to my blog","人生如逆旅，我亦是行人","小信如若不成，大信将以何立","独坐空城上，悠然宫羽间","地崩山摧壮士死，然后天梯石栈相勾连", "世界本就如此艰难，何必还要让它更艰难呢", "你若盛开，蝴蝶自来；你若精彩，天自安排", "Are You OK", "转身变成一只猫"].map(function (r) {
               return r + "."
           }),
           a = 2,
           g = 1,
           s = 5,
           d = 75,
           b = ["rgb(110,64,170)", "rgb(150,61,179)", "rgb(191,60,175)", "rgb(228,65,157)", "rgb(254,75,131)", "rgb(255,94,99)", "rgb(255,120,71)", "rgb(251,150,51)", "rgb(226,183,47)", "rgb(198,214,60)", "rgb(175,240,91)", "rgb(127,246,88)", "rgb(82,246,103)", "rgb(48,239,130)", "rgb(29,223,163)", "rgb(26,199,194)", "rgb(35,171,216)", "rgb(54,140,225)", "rgb(76,110,219)", "rgb(96,84,200)"],
           c = {
               text: "",
               prefixP: -s,
               skillI: 0,
               skillP: 0,
               direction: "forward",
               delay: a,
               step: g
           };
       i()
   };
   saintwei(document.getElementById('saintwei'));
</script>

</body>
</html>